extends layout

block content
  div.content
    div 
      h1.welcome Welcome!
    div 
      label Access Token: 
      input.mb10.sif_input(type='text' value='#{user.accessToken}')
    div 
      label Refresh Token: 
      input.refresh_input(type='text' value='#{user.refreshToken}')
    div
      a(href="/api/me" target="_blank") About Me
  
